div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.audit,
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.audit > * > tr > td {
    border-width: 0;
    border-style: none;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.audit > * > tr > td > div.audit {
    border-width: 1px;
    border-style: solid;
    padding: 0 10px;
    font-size: 0.7em;
    margin: 0 0 10px 10px;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.audit > * > tr > td.audit {
    width: 220px;
}

div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet div.audit > table {
    width: auto;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet div.audit .label {
    text-align: right;
    font-weight: bold;
    padding-right: 8px;
}

div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table {
    clear: right;
    margin: 10px 0;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.attributes > * > * > .type {
    width: 10%;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.attributes > * > * > .name {
    width: 45%;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.attributes > * > * > .value {
    width: 45%;
}

div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.neighbors > * > * > .role {
    width: 50%;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.neighbors > * > * > .neighbor {
    width: 50%;
}


div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table > * > tr > .type {
    border-bottom: 0px;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table > * > tr > * {
    padding: 5px;
    border-width: 0px 1px;
    border-style: dotted;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table > * > tr > td {
    border-width: 1px 1px 1px 1px;
}
div.org-infogrid-jee-viewlet-propertysheet-net-NetPropertySheetViewlet > table.replica > * > tr > td > span.infobit {
    margin-right: 20px;
}