table.org-infogrid-jee-viewlet-probe-shadow-ShadowAwareAllMeshBasesViewlet-shadow > * > * > td {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
table.org-infogrid-jee-viewlet-probe-shadow-ShadowAwareAllMeshBasesViewlet-shadowinfo {
    border: #808080 solid 1px;
}
table.org-infogrid-jee-viewlet-probe-shadow-ShadowAwareAllMeshBasesViewlet-shadowinfo th {
    text-align: right;
    padding-right: 10px;
}
table.org-infogrid-jee-viewlet-probe-shadow-ShadowAwareAllMeshBasesViewlet-shadowinfo td {
    padding-left: 5px;
    padding-right: 15px;
}

td.org-infogrid-jee-viewlet-probe-shadow-ShadowAwareAllMeshBasesViewlet-shadowcommands ul {
    list-style: none;
    display: inline;
}