td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar {
    width: 20%;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    vertical-align: top;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dl.level0 > dt {
    font-weight: bold;
    list-style: disc inside;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dl.level1 > dt {
    list-style: square inside;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dl.level2 > dt {
    list-style: circle inside;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dt {
    display: list-item;
    margin-left: 5px;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-sidebar dd {
    margin-left: 20px;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-content {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
}
td.org-infogrid-jee-viewlet-graphtree-GraphTreeViewlet-content > iframe {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}
