<html>
 <head>
  <title>Package org.infogrid.jee.viewlet.templates</title>
 </head>
 <body>
  <p>A templating mechanism for JEE Viewlets.</p>
  <p>All output by InfoGrid Viewlets is deposited in an instance of class
     {@link org.infogrid.jee.viewlet.template.StructuredResponse StructuredResponse},
     which is composed of one or more named 
     {@link org.infogrid.jee.viewlet.template.StructuredResponseSection StructuredResponseSections}.</p>
  <p>{@link org.infogrid.jee.viewlet.template.StructuredResponseTemplate StructuredResponseTemplate}
     is then used to assemble some or all of the StructuredResponseSections into the output
     stream.</p>
 </body>
</html>
