div#org-infogrid-jee-taglib-candy-OverlayTagCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #808080;
    z-index: 10;
    opacity: 0.9;
    visibility: hidden;
    display: none;
    -moz-opacity: 0.9;
}
div.org-infogrid-jee-taglib-candy-OverlayTag {
    z-index: 101;
    position: absolute;
    top: 50px;
    right: 100px;
    -moz-border-radius: 20px;
    width: 400px;
    padding: 25px;
    background: #ffffff;
    display: none;
    visibility: hidden;
}
div.org-infogrid-jee-taglib-candy-OverlayTag  > * {
    width: 100%;
}
div.org-infogrid-jee-taglib-candy-OverlayTag h2 {
    margin-top: 0;
    color: rgb(0,80,144);
}
div.org-infogrid-jee-taglib-candy-OverlayTag table.dialog-buttons {
    border-top: 1px dotted #808080;
    width: 100%;
    margin-top: 20px;
}
div.org-infogrid-jee-taglib-candy-OverlayTag table.dialog-buttons td {
    text-align: center;
    padding: 15px 0 5px 0;
}
