/* Defines the layout of the application, taking the master styles into account in master.css */

h1 {
    margin: 10px 0;
}
div.canvas-main {
    width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto; /* support long floats */
}

#canvas-top-row {
    margin: 0;
    padding: 0;
    text-align: right;
}
#canvas-top-row > div.canvas-main {
    padding-top: 5px;
    padding-bottom: 5px;
}

#canvas-app-row {
    margin: 0;
    padding: 0;
}
#canvas-app-row > div.canvas-main {
    height: 80px;
}

#canvas-app-row > div.canvas-main > h1 {
    font-size: 2em;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 20px 0 0 0;
}

img#app-logo {
    float: left;
    margin: 5px 15px 0 0;
}

#canvas-middle > div.canvas-main {
    min-height: 300px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#canvas-bottom > div.canvas-main {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-style: dotted;
    border-width: 1px 0 0 0;
}

div.viewlet {
    border: 2px solid;
    padding: 10px 10px 10px 20px;
    -moz-border-radius: 20px;
    clear: right;
    margin: 0px;
}

div.slide-in-button {
    float: right;
    padding: 4px;
    font-style: italic;
    line-height: 12px;
}

div.errors {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid;
}
div.errors .stacktrace {
    font-size: 12px;
    overflow-x: scroll;
}
div.errors > h2 {
    margin: 0;
}
div.error {
    margin: 10px 10px 10px 20px;
}
a.infogrid {
    float: right;
    margin-left: 10px;
    margin-top: 12px;
}


span.org-infogrid-model-primitives-BlobValue > span.mime {
    display: none;
    visibility: hidden;
}
span.org-infogrid-model-primitives-ColorValue {
    padding: 0 1em;
}