/* Master styles for fonts, basic formatting etc. for this app's main appcontext. */

body, div, p, dl, dt, ul, span, td, th {
    font-family: Verdana, Tahoma, Helvetica, Arial, Sans-Serif;
}
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
a img {
    border: 0;
}
h1 {
    font-size: 1.5em;
    font-weight: normal;
    border: dotted;
    border-width: 0 0 1px 0;
}
h2 {
    font-size: 1.2em;
}

td.top {
    vertical-align: top;
}
td.bottom {
    vertical-align: bottom;
}

.footnote {
    font-size: 9px;
}
a {
    text-decoration: none;
}
