div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet table.dialog-buttons {
    border-top: 1px dotted #808080;
    width: 100%;
    margin-top: 20px;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet table.dialog-buttons td {
    text-align: center;
    padding: 15px 0 5px 0;
    width: 33.3%
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet textarea.current-content {
    width: 100%;
    min-height: 200px;
    border: #808080 1px solid;
    margin: 0;
    padding: 0;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet div.content {
    width: auto;
    margin: 0;
    padding: 0 2px 0 0 ;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet > div.viewlet-state {
    float: right;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    font-size: 0.7em;
    margin: 0 0 10px 10px;
    padding: 5px;
}
