div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet div.current-content textarea {
    width: 100%;
    min-height: 200px;
    border: #808080 1px solid;
    margin: 0;
    padding: 0;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet div.content {
    width: auto;
    margin: 0;
    padding: 0 2px 0 0 ;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet input {
    min-height: 200px;
    width: 600px;
}
div.org-infogrid-jee-viewlet-wikiobject-WikiObjectEditViewlet div.org-infogrid-model-primitives-BlobValue-meta > * {
    margin: 3px;
}